
.row {
	margin: 0px 0px 0px 23%;
	border: 2px solid #ADD8E6;
	padding: 0 20px 30px 20px;
	color: #2F4F4F;
	font-family: Helvetica;
	font-size: 14px;
} 
.title {
	color: grey;
	text-align: center;
}

.note-table {
	width: 100%;
	color: #2F4F4F;
}
.note-table tr {
	border-bottom: 2px solid #B0E0E6;
}
.del {
	float: right;
}
.text {
	width: 80%;
	height: 30px;
}
.row-min {
	margin: 0px 10px 10px 10px;
	color: #2F4F4F;
	font-family: Helvetica;
	font-size: 12px;
}
.text-min {
	width: 100%;
	height: 30px;
	font-family: Helvetica;
	font-size: 12px;
}
.note-table-min {
	width: 100%;
	color: #2F4F4F;
	font-family: Helvetica;
	font-size: 12px;
}
.note-table-min tr {
	border-bottom: 2px solid #B0E0E6;
}
.add {
	width: 100%;
}
.row-middle {
	padding: 0 10% 0 10%;
	color: #2F4F4F;
	font-family: Helvetica;
	font-size: 14px;
}
.text-middle {
	width: 77%;
	height: 30px;
}
.add-btn {
	width: 20%
}
